extends ../base.pug

block content 
    div.video-watch
        div.video-watch__screen
            video(src="/" + video.fileUrl, controls=true)
        if loggedUser && loggedUser._id === video.owner.id
            div.video-watch__choice
                a(href=video._id + "/edit-video") Edit Video &rarr;
                a(href=video._id + "/delete-video") Delete Video &rarr;
        div.video-watch__content
            h3.video-watch__content--title=video.title 
            div
                h4.video-watch__content--views 조회수 #{video.views}회
                h4.video-watch__content--dot •  
                h4.video-watch__content--createTime #{video.createdAt.toLocaleDateString("kr", {year: "numeric", month:"long", day:"numeric"})}
        div.video-watch__owner
            div.video-watch__owner--avatar
                a(href=`/users/${video.owner._id}/video-profile`)
                    if video.owner.avatarUrl.startsWith("https")
                        img(src=video.owner.avatarUrl)
                    else
                        img(src=`/${video.owner.avatarUrl}`)
            div.video-watch__owner--text
                a(href=`/users/${video.owner._id}/video-profile`)
                    h4.video-watch__owner--username=video.owner.username
                h4.video-watch__owner--description=video.description