mixin userInfo(info)
    if !info.value
        span(for=info.name)=info.placeholder
        input(type="text", id=info.name, placeholder=info.placeholder, name=info.name)
    else 
        span(for=info.name)=info.placeholder
        input(type="text", id=info.name, placeholder=info.placeholder, name=info.name, value=info.value)